In [2]:
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
import theano.tensor as tt

/opt/local/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [3]:
N = 52
# Number of past years, including the current year for which the antecedent
# conditions are computed
Nlag = 5
Nyrs = 91
Nblocks = 38

# the time block that each month is assigned to such that for 60 different
# months, we are only estimating 38 unique monthly weights
block = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,\
                  18, 19, 20, 21, 22, 23, 24, 25, 25, 26, 26, 27, 27, 28, 28,\
                  29, 29, 30, 30, 31, 31, 31, 32, 32, 32, 33, 33, 33, 34, 34,\
                  34, 35, 35, 35, 36, 36, 36, 37, 37, 37, 38,\
                  38, 38]).reshape(5,12)


df2 = pd.read_csv("data/dataset2.csv", na_values="NA", skiprows=1, sep=" ")
df3 = pd.read_csv("data/dataset3.csv", na_values="NA", skiprows=1, sep=" ")

In [4]:
df2.head()

   Year    NPP  YearID  Event1  Event2  Event3  Event4
0  1939   50.0      40     NaN     NaN     NaN     NaN
1  1940    NaN      41    74.0    76.0   106.0    83.0
2  1941   74.0      42     NaN     NaN     NaN     NaN
3  1942  123.0      43     NaN     NaN     NaN     NaN
4  1943  123.0      44    80.0   159.0   137.0   115.0

In [5]:
df3.head()

,Year,ppt1,ppt2,ppt3,ppt4,ppt5,ppt6,ppt7,ppt8,ppt9,ppt10,ppt11,ppt12
0,1900,0.25,1.12,1.07,10.56,1.75,0.82,1.14,0.16,1.92,0.15,0.07,0.11
1,1901,0.19,0.38,1.88,3.62,7.47,2.35,0.71,0.72,2.10,0.36,0.02,1.37
2,1902,0.32,0.15,1.50,0.61,2.13,2.43,1.31,0.67,7.12,1.15,0.27,0.77
3,1903,0.16,1.60,1.03,1.50,0.63,2.23,1.06,0.82,0.87,1.70,0.18,0.07
4,1904,0.04,0.34,0.51,0.89,5.37,1.68,1.99,0.71,1.09,0.39,0.00,0.12

SyntaxError: invalid syntax (<ipython-input-4-0d3a8b6d5d32>, line 58)